In [ ]:
# Install required packages
# !pip install python-dotenv
# !pip install numpy
# !pip install pandas
# !pip install google-api-python-client
# !pip install mysql-connector-python
# !pip install sqlalchemy

In [1]:
# Import required packages
from dotenv import load_dotenv
import os
import numpy as np
import pandas as pd
from googleapiclient.discovery import build
import mysql.connector
from sqlalchemy import create_engine

In [2]:
# Load environment variables from .env file
load_dotenv()

# Get YouTube API key from .env 
youtube_api_key = os.getenv("youtube_api_key")
# Get MySQL username from .env
mysql_user = os.getenv("mysql_user")
# Get MySQL password from .env
mysql_password = os.getenv("mysql_password")

In [3]:
# Build the YouTube service object
youtube = build("youtube", "v3", developerKey=youtube_api_key)

In [4]:
# Extract data from a single YouTube channel
channel_name = "AlexTheAnalyst"

# Make YouTube API request (uses 1 out of 10.000 units from the daily usage limit)
channel_data = youtube.channels().list(part="statistics,snippet,contentDetails", forHandle=channel_name).execute()

In [15]:
# Extract relevant channel data and store as pandas DataFrame
channel_df = pd.DataFrame([{
    "channel_name": channel_data["items"][0]["snippet"]["title"],
    "channel_id": channel_data["items"][0]["id"],
    "view_count": int(channel_data["items"][0]["statistics"]["viewCount"]),
    "video_count": int(channel_data["items"][0]["statistics"]["videoCount"]),
    "subscriber_count": int(channel_data["items"][0]["statistics"]["subscriberCount"])
}])
channel_df

,channel_name,channel_id,view_count,video_count,subscriber_count
0,Alex The Analyst,UC7cs8q-gJRlGwj4A8OmCmXg,31869258,293,734000

In [18]:
# Extract uploads playlist ID containing all videos of the channel 
uploads_playlist_id = channel_data["items"][0]["contentDetails"]["relatedPlaylists"]["uploads"]
uploads_playlist_id

'UU7cs8q-gJRlGwj4A8OmCmXg'

In [6]:
# Load data into a MySQL database

# Connect to MySQL database
connection = mysql.connector.connect(
    host = "localhost",
    user = mysql_user,
    password = mysql_password,
    database = "youtube_analytics"
)

# Create a cursor object for executing SQL queries
cursor = connection.cursor()

# Save pandas DataFrame to MySQL table
try:
    # Create a SQLAlchemy engine for interacting with the MySQL database
    engine = create_engine(f"mysql+mysqlconnector://{mysql_user}:{mysql_password}@localhost/youtube_analytics")
    # Save the DataFrame to a MySQL table 
    channel_df.to_sql("channels", con=engine, if_exists="replace", index=False)
    # Print a success message
    print("DataFrame successfully saved to MySQL table.")
except Exception as e:
    # Print an error message if any exception occurs
    print("Error:", e)
finally:
    # Close the cursor and connection to free up resources
    cursor.close()
    connection.close()

DataFrame successfully saved to MySQL table.

In [14]:
channel_data["items"][0]

{'kind': 'youtube#channel',
 'etag': 'Or-l4-KAKDQcNlZVe-JWYNIMruw',
 'id': 'UC7cs8q-gJRlGwj4A8OmCmXg',
 'snippet': {'title': 'Alex The Analyst',
  'description': 'My name is Alex Freberg and on this channel I will be going over everything you need to know to become a Data Analyst. If you are wanting to make a career change or learn the skills needed to become a Data Analyst, be sure to subscribe to stay up to date on all my latest content.\n\nYou can find me on LinkedIn at:\nhttps://www.linkedin.com/in/alex-freberg/\n\nAlexTheAnalyst.com\nhttps://www.alextheanalyst.com/\n\nDiscord Channel:\nhttps://discord.gg/rxZUjNvRzR\n\nTwitter:\n@Alex_TheAnalyst\n\nSend Me Something:\n431 Saint James Avenue Suite L #318, Goose Creek, SC, 29445\n',
  'customUrl': '@alextheanalyst',
  'publishedAt': '2020-01-08T05:04:24.970712Z',
  'thumbnails': {'default': {'url': 'https://yt3.ggpht.com/ytc/AIdro_ll8kEw0lVndiOZ80ixo7Cjt_ThbgG3ZcJJ75s4=s88-c-k-c0x00ffffff-no-rj',
    'width': 88,
    'height': 88},
   'medium': {'url': 'https://yt3.ggpht.com/ytc/AIdro_ll8kEw0lVndiOZ80ixo7Cjt_ThbgG3ZcJJ75s4=s240-c-k-c0x00ffffff-no-rj',
    'width': 240,
    'height': 240},
   'high': {'url': 'https://yt3.ggpht.com/ytc/AIdro_ll8kEw0lVndiOZ80ixo7Cjt_ThbgG3ZcJJ75s4=s800-c-k-c0x00ffffff-no-rj',
    'width': 800,
    'height': 800}},
  'localized': {'title': 'Alex The Analyst',
   'description': 'My name is Alex Freberg and on this channel I will be going over everything you need to know to become a Data Analyst. If you are wanting to make a career change or learn the skills needed to become a Data Analyst, be sure to subscribe to stay up to date on all my latest content.\n\nYou can find me on LinkedIn at:\nhttps://www.linkedin.com/in/alex-freberg/\n\nAlexTheAnalyst.com\nhttps://www.alextheanalyst.com/\n\nDiscord Channel:\nhttps://discord.gg/rxZUjNvRzR\n\nTwitter:\n@Alex_TheAnalyst\n\nSend Me Something:\n431 Saint James Avenue Suite L #318, Goose Creek, SC, 29445\n'},
  'country': 'US'},
 'contentDetails': {'relatedPlaylists': {'likes': '',
   'uploads': 'UU7cs8q-gJRlGwj4A8OmCmXg'}},
 'statistics': {'viewCount': '31869258',
  'subscriberCount': '734000',
  'hiddenSubscriberCount': False,
  'videoCount': '293'},
 'topicDetails': {'topicIds': ['/m/07c1v', '/m/01k8wb', '/m/019_rr'],
  'topicCategories': ['https://en.wikipedia.org/wiki/Technology',
   'https://en.wikipedia.org/wiki/Knowledge',
   'https://en.wikipedia.org/wiki/Lifestyle_(sociology)']},
 'status': {'privacyStatus': 'public',
  'isLinked': True,
  'longUploadsStatus': 'longUploadsUnspecified',
  'madeForKids': False},
 'brandingSettings': {'channel': {'title': 'Alex The Analyst',
   'description': 'My name is Alex Freberg and on this channel I will be going over everything you need to know to become a Data Analyst. If you are wanting to make a career change or learn the skills needed to become a Data Analyst, be sure to subscribe to stay up to date on all my latest content.\n\nYou can find me on LinkedIn at:\nhttps://www.linkedin.com/in/alex-freberg/\n\nAlexTheAnalyst.com\nhttps://www.alextheanalyst.com/\n\nDiscord Channel:\nhttps://discord.gg/rxZUjNvRzR\n\nTwitter:\n@Alex_TheAnalyst\n\nSend Me Something:\n431 Saint James Avenue Suite L #318, Goose Creek, SC, 29445\n',
   'keywords': '"Data Analyst" "Data Analyst Salary" "How to become a data analyst" "How to become a data analyst with no experience" "Data Analyst with no degree" "Data Analyst with no experience" "Data Analyst jobs" "Data Analyst resume" "data analyst interview questions" "Data Analyst tutorial" "day in the life of a data analyst" "a day in the life of a data analyst" "Data Science" "Data Science tutorials" "How to become a data scientist" "data scientist" "Alex The Analyst" "Tableau for data analysis"',
   'unsubscribedTrailer': 'rGx1QNdYzvs',
   'country': 'US'},
  'image': {'bannerExternalUrl': 'https://yt3.googleusercontent.com/FlVmekmNkTLyvn-7McuFasBPWhzxzRTOGOqSTaAKASab8pWmtYMFIudYniEolHUc5I7UEYnPqQ'}}}