In [27]:
# Install required packages
# !pip install python-dotenv
# !pip install numpy
# !pip install pandas
# !pip install google-api-python-client
# !pip install mysql-connector-python
# !pip install sqlalchemy

In [1]:
# Import required packages
from dotenv import load_dotenv
import os
import numpy as np
import pandas as pd
from googleapiclient.discovery import build
import mysql.connector
from sqlalchemy import create_engine
from datetime import datetime
import re

In [2]:
# Load environment variables from .env file
load_dotenv()

# Get YouTube API key from .env 
youtube_api_key = os.getenv("youtube_api_key")
# Get MySQL username from .env
mysql_user = os.getenv("mysql_user")
# Get MySQL password from .env
mysql_password = os.getenv("mysql_password")

In [3]:
# Build the YouTube service object
youtube = build("youtube", "v3", developerKey=youtube_api_key)

In [4]:
# Extract YouTube channel data

# Select channels
channel_names = ["AlexTheAnalyst", "LukeBarousse", "Thuvu5"]

# Initialize an empty list to store dictionaries for each channel
channels_ls = []

# Initialize an empty list to store uploads playlist IDs of all channels
uploads_playlist_ids = []

# Loop through each channel
for channel_name in channel_names:
    # Get channel data using the YouTube Channels API
    # Note: Uses 1 out of 10.000 units from the daily usage limit 
    channel_data = youtube.channels().list(part="statistics,snippet,contentDetails", forHandle=channel_name).execute()  

    # Extract channel data in dictionary format
    channel_dict = {
        "channel_id": channel_data["items"][0]["id"],
        "channel_name": channel_data["items"][0]["snippet"]["title"],
        "views": int(channel_data["items"][0]["statistics"]["viewCount"]),
        "videos": int(channel_data["items"][0]["statistics"]["videoCount"]),
        "subscribers": int(channel_data["items"][0]["statistics"]["subscriberCount"])
    }
    
    # Append channel data in dictionary format to the list
    channels_ls.append(channel_dict)
    
    # Append uploads playlist ID to the list 
    uploads_playlist_ids.append(channel_data["items"][0]["contentDetails"]["relatedPlaylists"]["uploads"])

# Convert list of dictionaries to pandas DataFrame
channel_df = pd.DataFrame(channels_ls) 
channel_df

,channel_id,channel_name,views,videos,subscribers
0,UC7cs8q-gJRlGwj4A8OmCmXg,Alex The Analyst,32146205,294,738000
1,UCLLw7jmFsvfIVaUFsLs8mlQ,Luke Barousse,21309955,156,427000
2,UCJQJAI7IjbLcpsjWdSzYz0Q,Thu Vu data analytics,7380767,83,222000

In [9]:
# Extract video data

# Initialize an empty list to store dictionaries for each video
videos_ls = []

# Loop through each channel's uploads playlist
for uploads_playlist_id in uploads_playlist_ids:
    # Initialize next_page_token to None
    next_page_token = None

    # Loop through each video in the playlist
    while True:
        # Get playlist data using the YouTube PlaylistItems API 
        # Note: Each loop uses 1 out of 10.000 units from the daily usage limit (1 unit for 50 videos)
        playlist_data = youtube.playlistItems().list(
            part="snippet", 
            playlistId=uploads_playlist_id, 
            maxResults=50,
            pageToken=next_page_token
        ).execute()

        # Initialize an empty list to store video IDs
        video_ids = []

        # Extract video IDs from the playlist data
        video_ids += [video_data["snippet"]["resourceId"]["videoId"] for video_data in playlist_data["items"]]

        # Get video data using the YouTube Videos API 
        # Note: Uses 1 out of 10.000 units from the daily usage limit (1 unit for 50 videos)
        video_data = youtube.videos().list(part="statistics,snippet,contentDetails", id=video_ids).execute()    

        # Loop through each video 
        for video in video_data["items"]:
            # Extract video data in dictionary format
            video_dict = {
                "video_id": video["id"],
                "channel_id": video["snippet"]["channelId"],
                "video_title": video["snippet"]["title"],
                "video_description": video["snippet"]["description"],
                "published_at": datetime.strptime(video["snippet"]["publishedAt"], "%Y-%m-%dT%H:%M:%SZ"),
                "video_duration": video["contentDetails"]["duration"],
                "views": int(video["statistics"]["viewCount"]),
                "likes": int(video["statistics"]["likeCount"]),
                "comments": int(video["statistics"]["commentCount"])
            }

            try:
                # Try to get thumbnail in maximum resolution
                video_dict["thumbnail_url"] = video["snippet"]["thumbnails"]["maxres"]["url"]
            except KeyError:
                # If maxres is not available, get default resolution
                video_dict["thumbnail_url"] = video["snippet"]["thumbnails"]["default"]["url"]

            # Append video data in dictionary format to the list
            videos_ls.append(video_dict)

        # Get the next page token
        next_page_token = playlist_data.get("nextPageToken")

        # Exit the loop if there are no more pages
        if next_page_token is None:
            break
        
# Convert list of dictionaries to pandas DataFrame
videos_df = pd.DataFrame(videos_ls)    
videos_df

,video_id,channel_id,video_title,video_description,published_at,video_duration,views,likes,comments,thumbnail_url
0,7b8ViCqD9JM,UC7cs8q-gJRlGwj4A8OmCmXg,How to give up on the job search fast,💻Analyst Builder - https://www.analystbuilder....,2024-03-27 12:19:35,PT52S,4853,301,12,https://i.ytimg.com/vi/7b8ViCqD9JM/maxresdefau...
1,7vnxpcqmqNQ,UC7cs8q-gJRlGwj4A8OmCmXg,Stored Procedures in MySQL | Advanced MySQL Se...,Full MySQL Course: https://www.analystbuilder....,2024-03-26 12:00:12,PT12M37S,4253,142,13,https://i.ytimg.com/vi/7vnxpcqmqNQ/maxresdefau...
2,uEk07jXdKOo,UC7cs8q-gJRlGwj4A8OmCmXg,Temp Tables in MySQL | Advanced MySQL Series,Full MySQL Course: https://www.analystbuilder....,2024-03-19 12:00:56,PT7M46S,5013,165,8,https://i.ytimg.com/vi/uEk07jXdKOo/maxresdefau...
3,UC7uvOqcUTs,UC7cs8q-gJRlGwj4A8OmCmXg,CTEs in MySQL | Advanced MySQL Series,Full MySQL Course: https://www.analystbuilder....,2024-03-12 12:00:23,PT10M31S,7806,232,15,https://i.ytimg.com/vi/UC7uvOqcUTs/maxresdefau...
4,1KEbiqRWOkA,UC7cs8q-gJRlGwj4A8OmCmXg,7 Mistakes to Avoid During Your Data Analyst J...,When I was a Hiring Managers I saw a lot of pe...,2024-03-05 13:00:01,PT11M54S,15548,576,50,https://i.ytimg.com/vi/1KEbiqRWOkA/maxresdefau...
...,...,...,...,...,...,...,...,...,...,...
529,5LWoJAh-kww,UCJQJAI7IjbLcpsjWdSzYz0Q,Data Analyst Skill Stack // How I Became A Dat...,👩🏻‍💻 My laptop and iPad for doing DS/ study 👉 ...,2021-06-16 10:16:47,PT10M35S,32918,1796,70,https://i.ytimg.com/vi/5LWoJAh-kww/maxresdefau...
530,_RzoHVWKwq4,UCJQJAI7IjbLcpsjWdSzYz0Q,Effective visual note-taking on iPad + Downloa...,Hi there! In this video I’m showing you how to...,2021-06-09 06:58:21,PT8M19S,11392,388,14,https://i.ytimg.com/vi/_RzoHVWKwq4/maxresdefau...
531,hWKLO7GtpiU,UCJQJAI7IjbLcpsjWdSzYz0Q,Data scientist is NOT the only SEXY job // All...,Hi there! In this video I explain different da...,2021-06-01 22:51:42,PT14M4S,8848,292,20,https://i.ytimg.com/vi/hWKLO7GtpiU/maxresdefau...
532,dBZqggW22rs,UCJQJAI7IjbLcpsjWdSzYz0Q,"How I take notes on iPad Pro | Notion, Notes, ...",My note-taking system tour in Notion and tips ...,2021-05-16 22:47:12,PT9M7S,11367,277,21,https://i.ytimg.com/vi/dBZqggW22rs/maxresdefau...
533,QDdqsFCIxIk,UCJQJAI7IjbLcpsjWdSzYz0Q,How to stay focused and productive online with...,Hello Youtube! This is my first ever Youtube v...,2021-04-30 16:03:53,PT4M34S,4787,167,15,https://i.ytimg.com/vi/QDdqsFCIxIk/maxresdefau...

In [10]:
# Function to convert the YouTube video duration from ISO 8601 format (str) to seconds (int)
def convert_iso8601_duration(duration):
    # Regular expression to match hours, minutes, and seconds
    time_extractor = re.compile(r'PT(?:(\d+)H)?(?:(\d+)M)?(?:(\d+)S)?')
    # Extract hours, minutes, and seconds
    extracted = time_extractor.match(duration)
    if extracted:
        hours = int(extracted.group(1)) if extracted.group(1) else 0
        minutes = int(extracted.group(2)) if extracted.group(2) else 0
        seconds = int(extracted.group(3)) if extracted.group(3) else 0
        # Return total seconds
        total_seconds = hours * 3600 + minutes * 60 + seconds
        return total_seconds
    else:
        return 0

In [11]:
# Convert video duration 
videos_df["video_duration"] = videos_df["video_duration"].apply(convert_iso8601_duration)

In [12]:
# Extract comments data

# Initialize an empty list to store comments
comments_ls = []

# Loop through each video
for video_id in videos_df["video_id"].values:
    # Initialize next_page_token to None
    next_page_token = None

    # Loop through data batches of 100 comments 
    while True:
        try:
            # Get data from 100 comments using the YouTube CommentThreads API 
            # Note: Each loop uses 1 out of 10.000 units from the daily usage limit (1 unit for 100 comments)
            comments_data = youtube.commentThreads().list(
                part="snippet", 
                videoId=video_id, 
                maxResults=100,
                pageToken=next_page_token
            ).execute()
        # Handle error if e.g. video comments are disabled
        except Exception as e:
            print(f"Failed to get comments for video {video_id}.")

        # Loop through each comment
        for comment in comments_data["items"]:
            # Extract comment data in dictionary format
            comment_dict = {
                "comment_id": comment["snippet"]["topLevelComment"]["id"],
                "video_id": comment["snippet"]["topLevelComment"]["snippet"]["videoId"],
                "channel_id": comment["snippet"]["topLevelComment"]["snippet"]["channelId"],
                "comment_text": comment["snippet"]["topLevelComment"]["snippet"]["textOriginal"]
            }
            # Append comment data dictionary to the list
            comments_ls.append(comment_dict)

        # Get the next page token
        next_page_token = playlist_data.get("nextPageToken")

        # Exit the loop if there are no more pages
        if next_page_token is None: 
            break
        
# Convert list of dictionaries to pandas DataFrame
comments_df = pd.DataFrame(comments_ls)    
comments_df

Failed to get comments for video r9imv1z82jQ.

,comment_id,video_id,channel_id,comment_text
0,UgzZWKmdUIM_aLPy3sd4AaABAg,7b8ViCqD9JM,UC7cs8q-gJRlGwj4A8OmCmXg,Might be useful to explain how to find and get...
1,Ugx-XvmOlUE6_AA674h4AaABAg,7b8ViCqD9JM,UC7cs8q-gJRlGwj4A8OmCmXg,But like how do I get in touch with them in th...
2,UgyTaN7erL8g3yrmnEl4AaABAg,7b8ViCqD9JM,UC7cs8q-gJRlGwj4A8OmCmXg,Thanks a lot for your videos! How would you kn...
3,UgzQFZ9eADJAQynJirt4AaABAg,7b8ViCqD9JM,UC7cs8q-gJRlGwj4A8OmCmXg,"I need to do this more, I've heard some jobs a..."
4,Ugxzv5XgGPn-kzjBT9h4AaABAg,7b8ViCqD9JM,UC7cs8q-gJRlGwj4A8OmCmXg,Recruiters are great - but they really don't a...
...,...,...,...,...
27728,UgykL4IfQ7CLbONTW5t4AaABAg,QDdqsFCIxIk,UCJQJAI7IjbLcpsjWdSzYz0Q,"thank you, please i need you help!!"
27729,UgzyWHk3Kx6N3sbElMJ4AaABAg,QDdqsFCIxIk,UCJQJAI7IjbLcpsjWdSzYz0Q,Very diff but great inputs from similar topic ...
27730,Ugw1X4GuVl6jdAB8sFJ4AaABAg,QDdqsFCIxIk,UCJQJAI7IjbLcpsjWdSzYz0Q,Replying email and control backspace was new f...
27731,UgzDqSm_tOqxIbgclvF4AaABAg,QDdqsFCIxIk,UCJQJAI7IjbLcpsjWdSzYz0Q,Valuable insight😇
27732,Ugy9O3Xlo1_2Oqb8G-R4AaABAg,QDdqsFCIxIk,UCJQJAI7IjbLcpsjWdSzYz0Q,good tips for working time at home

In [13]:
# Load data from Pandas DataFrames into MySQL tables

# Connect to MySQL database
connection = mysql.connector.connect(
    host = "localhost",
    user = mysql_user,
    password = mysql_password,
    database = "youtube_analytics"
)

# Create a cursor object to execute SQL queries
cursor = connection.cursor()

# Drop existing MySQL tables 
tables_to_drop = ["comments", "videos", "channels"]
for table in tables_to_drop:
    cursor.execute(f"DROP TABLE IF EXISTS {table};")
        
try:
    # Create an SQLAlchemy engine for interacting with the MySQL database
    engine = create_engine(f"mysql+mysqlconnector://{mysql_user}:{mysql_password}@localhost/youtube_analytics") 
    
    # Load the YouTube channels DataFrame into the MySQL channels table
    try:
        channel_df.to_sql("channels", con=engine, if_exists="replace", index=False)
        print("Channels data successfully loaded into MySQL database.")
    except Exception as e:
        print("Error loading channels data:", e)
    
    # Load the YouTube videos DataFrame into the MySQL videos table
    try:
        videos_df.to_sql("videos", con=engine, if_exists="replace", index=False)
        print("Videos data successfully loaded into MySQL database.")
    except Exception as e:
        print("Error loading videos data:", e)
    
    # Load the YouTube comments DataFrame into the MySQL comments table
    try:
        comments_df.to_sql("comments", con=engine, if_exists="replace", index=False)
        print("Comments data successfully loaded into MySQL database.")
    except Exception as e:
        print("Error loading comments data:", e)
    
except Exception as e:
    # Print error if exception occurs when connecting to the database 
    print("Error connecting to MySQL database:", e)

finally:
    # Close the cursor and connection to free up resources
    cursor.close()
    connection.close()

Channels data successfully loaded into MySQL database.
Videos data successfully loaded into MySQL database.
Comments data successfully loaded into MySQL database.